body{
    margin: 0;
    padding: 0;
    background: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/540740/0050c95db240d45dda4af03cdf336a10c4b4d48c.jpg) no-repeat;
    background-size:cover;
  }
  .main{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .main-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .main h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .main h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .main p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .main li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .main li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .main li a:hover{
    color: #b9b9b9;
  }
  /* Popup container */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .popup:hover{
      color: #b9b9b9;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 300px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 30%;
    top: 290%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  footer{
    width: 450px;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }