// Primary
$primary-cyan: hsl(180, 66%, 49%);
$primary-cyan-light: hsl(180, 66%, 75%);
$primary-violet: hsl(257, 27%, 26%);

// Secondary
$seconday-red: hsl(0, 87%, 67%);

// Neutral
$white: #ffffff;
$black: #000000;
$gray: hsl(0, 0%, 75%);
$gray-violet: hsl(257, 7%, 63%);
$dark-blue: hsl(255, 11%, 22%);
$dark-violet: hsl(260, 8%, 14%);
$background-gray: hsl(225, 33%, 95%);

// Error
$red: hsl(0, 90%, 55%);
