// paragraphs
$p-sm: 1.2rem;
$p-md: 1.4rem;
$p-lg: 1.6rem;
$p-xl: 1.8rem;

// Headings
$heading-xs: 2.1rem;
$heading-sm: 2.4rem;
$heading-md: 2.7rem;
$heading-lg: 3.5rem;
$heading-xl: 4.0rem;
$heading-2xl: 5.0rem;
$heading-3xl: 6.0rem;
$heading-4xl: 7.0rem;
